.container {
  justify-content: center;
  margin-left: 50px;
}

.resume {
  min-height: min-content;
  min-height: 46rem;
  padding: 30px 50px 50px;
  color: rgb(72, 72, 72);
  align-self: flex-start;
}

.resume,
.form {
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
  margin: 5px;
  width: 30rem;
  max-width: 100%;
  box-sizing: border-box;
}

:root {
  background-color: rgb(247, 247, 247);
}

:root,
textarea {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.form {
  height: 100%;
  padding: 10px 30px 30px;
  transition: opacity 1s;
}

input {
  width: 20rem;
  height: 1.5rem;
}

input,
textarea {
  margin: 4px 0;
}

textarea {
  width: 20.5rem;
  height: 3rem;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.17em;
}

h2,
h3 {
  margin: 10px 0;
  font-weight: 200;
}

h3.education,
h3.work,
.skills > h3 {
  font-weight: 800;
  margin: 15px 0;
}

button {
  margin: 4px;
  color: rgb(72, 72, 72);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(72, 72, 72);
  height: 1.5rem;
}

button:not(.color > *):hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(159, 215, 159);
}

.remove:hover {
  background-color: rgb(228, 159, 159);
}

.save {
  text-align: center;
  margin-top: 5px;
  margin-bottom: -5px;
}

.save > button {
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  margin: auto;
}

#StartDate,
#EndDate,
#Started,
#Graduated {
  width: 9rem;
  margin-right: 6px;
}

.header {
  justify-content: space-between;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.header-right {
  gap: 5px;
  margin-bottom: 10px;
}

.profile,
.contact,
.section,
.icons,
.color,
.buttons {
  display: flex;
  flex-direction: column;
}

.contact,
.subject {
  font-size: 0.8rem;
}

.icons,
.contact {
  justify-content: flex-end;
  gap: 5px;
}

img {
  height: 1rem;
  width: 1rem;
}

p {
  font-size: 0.9rem;
  margin: 8px 0;
}

div.work,
div.education {
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.position,
.degree {
  font-weight: 800;
}

.company,
.institution {
  color: rgb(129, 128, 128);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.slide {
  transform: translate(-42%);
}

.edit, .download {
  background-color: transparent;
  font-size: 1rem;
  border-width: 2px;
  padding: 0;
}

.edit,
.color > *,
.download {
  transition: opacity 1.5s 1s;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.color > * {
  border-width: 0;
}

.color {
  transition: opacity 1.5s 1s;
  margin-top: 200px;
}

.buttons {
  margin-top: 300px;
}

.color > *:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.nohover {
  pointer-events: none;
}

#gray {
  background-color: rgb(72, 72, 72);
}

#red {
  background-color: #e08d79;
}

#blue {
  background-color: #73c1c6;
}

#green {
  background-color: #55bb79;
}

#purple {
  background-color: #a18ecf;
}

#yellow {
  background-color: #f1af14;
}

.resume-container,
div.work,
div.education,
.header,
.header-right,
.container {
  display: flex;
}

.resume-container {
  justify-content: center;
  align-items: flex-start;
  width: min-content;
  gap: 10px;
  transition: transform 1.5s;
}

.print {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* .print img {
 height: 1.5rem;
 width: 1.5rem;
} */

@media print {
  @page {
    size: 30rem 46rem;
    padding-top: 20px;
  }
}

@media (max-width: 950px) {
  :root {
    background-color: white;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .resume-container {
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    opacity: 0;
    transition: opacity 1s;
  }

  .stacked {
    z-index: -1;
  }

  .resume,
  .form {
    padding: 10px;
    border: none;
    min-height: min-content;
  }

  #visible {
    opacity: 1;
  }

  .color, .buttons {
    flex-direction: row;
    margin: auto;
    text-align: center;
  }

  .color {
    order: 3;
  }
}
