.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.resume {
  height: 45.6rem;
  width: 30rem;
  padding: 30px 50px 50px;
}

.resume,
.form {
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
  margin: 5px;
  width: 30rem;
}

:root {
  background-color: rgb(247, 247, 247);
}

:root,
textarea {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.form {
  height: 100%;
  padding: 10px 30px 30px;
}

input,
textarea {
  width: 20rem;
  height: 1.5rem;
  margin: 4px 0;
}

textarea {
  width: 20.5rem;
  height: 3rem;
}

h1 {
  margin: 0;
}

h3 {
  margin: 10px 0;
  font-weight: 200;
}

h3.education, h3.work {
  font-weight: 800;
}

button {
  margin: 4px;
  margin-left: 0;
  background-color: transparent;
  border-width: 1px;
  border-radius: 5px;
  height: 1.5rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(159, 215, 159);
}

.remove:hover {
  background-color: rgb(228, 159, 159);
}

.save {
  text-align: center;
}

.save > button {
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  margin: auto;
}

#StartDate,
#EndDate {
  width: 9rem;
  margin-right: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
}

.header-right {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.profile,
.contact,
.section,
.icons {
  display: flex;
  flex-direction: column;
}

.contact {
  justify-content: flex-end;
  font-size: 0.8rem;
}

.icons {
  justify-content: flex-end;
}

img {
  height: 1rem;
}

p {
  font-size: 0.9rem;
}

div.work, div.education {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: .9rem;
}

div.work:first-child, div.education:first-child {
  font-weight: 800;
}
