.container {
  justify-content: center;
  margin-left: 50px;
}

.resume {
  min-height: 40rem;
  width: 30rem;
  padding: 30px 50px 50px;
  color: rgb(72, 72, 72);
  align-self: flex-start;
}

.resume,
.form {
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
  margin: 5px;
  max-width: 30rem;
}

:root {
  background-color: rgb(247, 247, 247);
}

:root,
textarea {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.form {
  height: 100%;
  padding: 10px 30px 30px;
  transition: opacity 1s;
}

input,
textarea {
  width: 20rem;
  height: 1.5rem;
  margin: 4px 0;
}

textarea {
  width: 20.5rem;
  height: 3rem;
}

h1 {
  margin: 0;
}

h3 {
  margin: 10px 0;
  font-weight: 200;
}

h3.education,
h3.work,
.skills > h3 {
  font-weight: 800;
  margin: 15px 0;
}

button {
  margin: 4px;
  margin-left: 0;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(72, 72, 72);
  height: 1.5rem;
}

button:not(.color > *):hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(159, 215, 159);
}

.remove:hover {
  background-color: rgb(228, 159, 159);
}

.save {
  text-align: center;
  margin-top: 5px;
  margin-bottom: -5px;
}

.save > button {
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  margin: auto;
}

#StartDate,
#EndDate {
  width: 9rem;
  margin-right: 6px;
}

.header {
  justify-content: space-between;
  border-bottom: 2px solid rgb(72, 72, 72);
}

.header-right {
  gap: 5px;
  margin-bottom: 10px;
}

.profile,
.contact,
.section,
.icons,
.color {
  display: flex;
  flex-direction: column;
}

.contact,
.subject {
  font-size: 0.8rem;
}

.icons,
.contact {
  justify-content: flex-end;
  gap: 5px;
}

img {
  height: 1rem;
}

p {
  font-size: 0.9rem;
  margin: 8px 0;
}

div.work,
div.education {
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.position,
.degree {
  font-weight: 800;
}

.company,
.institution {
  color: rgb(165, 165, 165);
}

span {
  font-weight: 500;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.slide {
  transform: translate(-42%);
}

.edit {
  background-color: transparent;
  font-size: 1rem;
  border-width: 2px;
}

.edit,
.color > * {
  transition: opacity 1.5s 1s;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.color > * {
  border-width: 0;
}

.color {
  transition: opacity 1.5s 1s;
}

.color > *:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#gray {
  background-color: rgb(72, 72, 72);
}

#red {
  background-color: #e08d79;
}

#blue {
  background-color: #73c1c6;
}

#green {
  background-color: #55bb79;
}

#purple {
  background-color: #a18ecf;
}

#yellow {
  background-color: #f1af14;
}

.resume-container,
div.work,
div.education,
.header,
.header-right,
.container {
  display: flex;
}

.resume-container {
  justify-content: center;
  align-items: center;
  width: min-content;
  gap: 10px;
  transition: transform 1.5s;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .form {
    height: 100%; 
    margin: auto; 
  }

  .resume {
    display: none;
  }
}